/* 0.COMMON STYLES START */

:root{
    --path: path("M1 52C36 40 90 4.00001 309 59C528 114 614 2.00001 746 1.00001C878 6.16722e-06 914 43 1073 15C1200.2 -7.39999 1345.33 5.66667 1402 15");
    --light-grey: #D6E0D5;
    --progres: #BE59EB;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #161616;
    overflow: hidden;
}

/* 0.COMMON STYLES END */

/* 1.CAR START */

/* 1.1.CAR BODY START */

.car-wrapper {
    position: absolute;
    bottom: 50%;
    z-index: 99;

    offset-path: var(--path);
    offset-anchor: left bottom;
}

.car {
    width: 50%;
}

/* 1.1.CAR BODY END */

/* 1.2.CAR WHEEL START */

.common-wheel {
    position: absolute;
    width: 8%;
    bottom: 5px;
    left: 8%;
 
}

._forward {
    animation: rotate 1s infinite linear;
}

._back {
    animation: rotate 1s reverse infinite linear;
}

.wheel-front {
    left: 37%;
}


/* 1.2.CAR WHELL END */

/* 1.3.CAR ANIMATION START */

@keyframes rotate {
   to {
       transform: rotate(360deg);
    }
}

/* 1.3.CAR ANIMATION END */

/* 1.CAR END */

/* 2.BACKGROUND START */

.block {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.block-1 {

    background: url('../images/bg-start.jpg') center / cover no-repeat;
}

.block-2 {

    background: url('../images/bg-1.png') center / cover no-repeat;
}

.block-3 {

    background: url('../images/bg-2.png') center / cover no-repeat;
}

.block-4 {

    background: url('../images/bg-5.png') center / cover no-repeat;
}

/* 2.BACKGROUND END */

/* 3.PROGRESS BAR START */

#progress {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 5vh;
    z-index: 10000;
}

/* 3.PROGRESS BAR END */

